
{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}


<div class="container-fluid">
<br>
  <div class="row">
      <div class="col-md-12">
          <img style='float:left;width:450px;height:450px; margin-right:50px;' src={% static 'portfolio/profilepicture.jpg' %}>
          <h3>Hi there! I am <span style="color:goldenrod"><u>Saurav Jalui</u></span> and I'm an <span style="color:yellowgreen"><u>Python Developer.</u></span> Based in Mumbai, India looking for a dev role. <span style="color: mediumslateblue;"><u>Willing to re-locate anywhere (India or elsewhere).</u></span><br> <br> Passion about problem solving is what got me into code, being able to come up with creative solutions is what makes me stay. <span style="color:darkcyan"><u>  Open to learning new technologies.  </u></span><br> <br> I enjoy learning and blogging about my learnings. When I look for a job, continuous learning is a priority.<br><br><span style="color:hotpink"><u>Languages and tools:</u></span> Python, Django, C++</h3>  
      </div>
  </div>

 <!-- <div class="row justify-content-left my-4">
    <div class="col-5">
      <img src="{% static 'portfolio/profilepicture.jpg' %}" class="float-left" width="450" height="450">
    </div> -->

<!-- 
  <div class="row justify-content-right mb-3">
    <div class="col-md-9 text-right">
      <h1 id="hometext" class="font-weight-bold">I solve problems using python 👨🏽‍💻🐍</h1>
    </div>
  </div> -->
</div> 
<h1 class="mt-5">Projects</h1>

<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-4">

    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" class="img-fluid">
    </a>
    {% else %}
    <img src="{{ project.image.url }}" class="img-fluid">
    {% endif %}
        <h2>{{ project.title }}</h2> 
        <p>{{ project.description }}</p>
        <a href="{{ project.githublink }}">Github </a>

  </div>
  {% endfor %}
</div>

{% endblock %}
