{% extends 'portfolio/base.html' %}
{% block content %}

<h1> Saurav's Blog</h1>

<h2>Saurav has written {{  blogs.count  }} blog{{  blogs.count|pluralize  }}</h2>

{% for blog in blogs%}

<a href="{% url 'blog:detail' blog.id %}">
<h2>{{  blog.title  }}</h2></a>
<h5>{{  blog.date|date:'M d Y' }}</h5>
<p>{{  blog.description|truncatechars:100  }}</p>
<!-- <h2>{{  blog.title  }}</h2>
<p>{{  project.description }}</p>
<img src="{{ project.image.url }}">
{% if project.url %}
<br><a href="{{ project.url }}"> Link</a>
{% endif %} -->
 
{% endfor %}

{% endblock %}