.navbar-nav .nav-link {
    color: rgba(white) !important;
}

.navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255) !important;
}

body {
    color: rgb(255, 255, 255);
    font-family: 'Expletus Sans', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Syne', sans-serif;
}

#blogtitle {
    
    font-size: 6rem;
}

@media (min-width: 992px) {
    
    #hometext {     
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}
