.navbar-nav .nav-link {
    color: rgba(white) !important;
}

.navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255) !important;
}

/* .btn-danger { border-color: #ffffff; background-color: #f80606; color:#FFF;}
.btn-danger:hover { border-color: #ffffff; background-color: #a70000; } */
/* 
.btn-danger { border-color: #ffffff; background-color: #f80606; color:#FFF;}
.btn-danger:hover { border-color: #ffffff; background-color: #a70000; }

.btn-danger { border-color: #ffffff; background-color: #f80606; color:#FFF;}
.btn-danger:hover { border-color: #ffffff; background-color: #a70000; }

.btn-danger { border-color: #ffffff; background-color: #f80606; color:#FFF;}
.btn-danger:hover { border-color: #ffffff; background-color: #a70000; }

.btn-danger { border-color: #ffffff; background-color: #f80606; color:#FFF;}
.btn-danger:hover { border-color: #ffffff; background-color: #a70000; } */

img {
    float:left;
    
}
h3 {
    float: center;
        
}


body {padding-left: 0rem;
    color: rgb(255, 255, 255);
    font-family: 'Mukta', sans-serif;

}
#blogtitle {
    
    font-size: 4rem;
}

@media (min-width: 996px) {
    
    #hometext {     
        font-size: 3rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}
